.body {

  font-family: sans-serif;
  display:flex;
  justify-content: center;
}
.card-item{
  width:350px;
  background-color:#124164;
  margin: 10px;
  border-radius: 10px;
  display:flex;
  flex-direction: column;
  color:white;
}
.puce{
  border-radius: 4px;
  padding-left: 5px;
}
.card-number{
  padding: 5px;
  font-size:20px;

}
.card-name{
  padding: 40px 0 0 5px;
  font-size:12px;
}
.valid-thru{
  font-size:12px;

}
.input-text{
 margin:10px 0px;
}
.input-item{
  display:flex;
  flex-direction: column;
  margin: 10px;
  margin: 10px;

}
.card-detail{
  width:350px;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 5px;
}
.card-detail-right{
  display: flex;
  align-items: baseline;
  margin-left:40px;
  padding-right: 5px;
}
.company-name{
  padding-left:170px;
}
.valid-thru{
  padding-right:5px;
  margin-bottom:20px;
}
.reset{
  width:100px;
  height: 30px;
  border-radius: 10px;
  font-size: 12px;
}